@using IrisWeb.Code.Extensions;
@using IrisWeb;
@using IrisWeb.Code.Data.Models.Database;
@model List<TransactModel>




@{
       ViewBag.Title = "About";
}


<h2>Report</h2>
@*<button onclick="CreateObject()">Create Object</button>
<button onclick="insertItem()">Insert Item</button>*@
@*<button onclick="@("window.location.href='" + @Url.Action() + "'");">View Report</button>*@

<div>

    @(Html.Kendo().Grid<TransactModel>()
              .Name("Grid")
              //.Pageable()
              .BindTo(Model)
      //.Sortable()
      //.ColumnMenu()
      //.Groupable()
      //.Filterable()


      //.ToolBar(excel => excel.Excel())
      //.ToolBar(pdf => pdf.Pdf())

      //.ClientRowTemplate("Sum: #=kendo.toString(sum, 'n0) #")
      //.Reorderable(reoderable => reoderable.Columns(true))


      //.Columns(columns =>
      //{
      //    columns.Command(cmd => cmd.Edit()).Title("Edit");

      //    columns.Bound(p => p.Transact_Key).Title("Transact Key");
      //    columns.Bound(p => p.DateStamp).Title("Task Date");
      //    columns.Bound(p => p.Crew_Num).Title("Crew #");
      //    columns.Bound(p => p.EquipmentName).Title("Equipment Name");
      //    columns.Bound(p => p.Bill_Rate).Format("{0:c}").ClientFooterTemplate("Total: #=kendo.format('{0:c}', sum)#").ClientGroupFooterTemplate("Sub Total: #=kendo.format('{0:c}', sum)#");
      //    columns.Bound(p => p.Overridden_Labor_Rate).Title("Overridden Labor Rate");
      //    columns.Bound(p => p.Employee_Rate).Format("{0:c}").ClientFooterTemplate("Average: #=kendo.format('{0:c}', average)#").ClientGroupFooterTemplate("Sub average: #=kendo.format('{0:c}', average)#");
      //    columns.Bound(p => p.RecordID).Title("Record ID").ClientFooterTemplate("Count: #=kendo.format('{0}', count)#").ClientGroupFooterTemplate("Sub Count: #=kendo.format('{0}', count)#");
      //}

      //       )



      //.RowAction(row =>
      //{
      //    // "DataItem" is the Product instance to which the current row is bound
      //    if (row.DataItem.Batch_Num.Contains("1"))
      //    {
      //        //Set the background of the entire row
      //        row.HtmlAttributes["style"] = "background:Orange;";
      //    }
      //})

      //.CellAction(cell =>
      //{
      //    if (cell.Column.Title == "Description")
      //    {
      //        if (cell.DataItem.Description.Contains("A"))
      //        {
      //            //Set the background of this cell only
      //            cell.HtmlAttributes["style"] = "background:red;";
      //        }
      //    }
      //})


      .DataSource(dataSource => dataSource
         .Ajax()


         //.Aggregates(aggregates =>
         //{
         //    aggregates.Add(p => p.Bill_Rate).Sum();
         //    aggregates.Add(p => p.Employee_Rate).Average();
         //    aggregates.Add(p => p.RecordID).Count();
         //})
         .ServerOperation(false)
         .Model(model =>
         {
             model.Id(x => x.Class_Rate);



         })

                  .Read(read => read.Action("About", "Home")) // Make a contoller that returns this data
    .Update(update => update.Action("About", "Home"))
    )


    )
</div>
@*<script src="//kendo.cdn.telerik.com/2015.3.1111/js/pako_deflate.min.js"></script>
<script src="http://cdn.kendostatic.com/2013.2.716/js/cultures/kendo.culture.en-US.min.js"></script>*@

 